body {
    background-image: url(../asset/fond.png);

    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*gestion de la taille d'écran par rapport à la taille
 de mes sections et soussections*/
@media screen and (min-width: 665px) {
    body {
        max-width: 665px;
        max-height: 960px;
        margin: auto;
    }
}

/*les sections*/

.disposition {
    margin: auto;
}

@media screen and (min-width: 665px) {
    .disposition {
        display: flex;
    }
}

.soussection {
    width: 320px;
    margin: auto;
    margin-top: 10px;

}

@media screen and (max-width: 665px) {
    .soussection {
        margin-top: 30px;
    }
}

/*pour équilibrer le visuel d'expertises, 
les éléments contenu étant en partie en absolute*/
#soussection1 {
    height: 200px;
}

/*apparition soussection*/

/*écran mobile, 1 par 1*/

@media screen and (max-width: 665px) {

    #infos {
        animation: fadein 3s;
    }

    #soussection1 {
        animation-name: fade, fadein;
        animation-duration: 1s, 3s;
        animation-delay: 0s, 1s;
    }


    #soussection2 {
        animation-name: fade, fadein;
        animation-duration: 2s, 3s;
        animation-delay: 0s, 2s;
    }

    #soussection3 {
        animation-name: fade, fadein;
        animation-duration: 3s, 3s;
        animation-delay: 0s, 3s;
    }

    #soussection4 {
        animation-name: fade, fadein;
        animation-duration: 4s, 3s;
        animation-delay: 0s, 4s;
    }

    #soussection5 {
        animation-name: fade, fadein;
        animation-duration: 5s, 3s;
        animation-delay: 0s, 5s;
    }

    #soussection6 {
        animation-name: fade, fadein;
        animation-duration: 6s, 3s;
        animation-delay: 0s, 6s;
    }
}

/*écran plus grand 2 par 2*/

@media screen and (min-width: 665px) {
    #soussection1 {
        animation: fadein 3s;
    }


    #soussection2 {
        animation: fadein 3s;
    }

    #soussection3 {
        animation-name: fade, fadein;
        animation-duration: 2s, 3s;
        animation-delay: 0s, 2s;
    }

    #soussection4 {
        animation-name: fade, fadein;
        animation-duration: 2s, 3s;
        animation-delay: 0s, 2s;
    }

    #soussection5 {
        animation-name: fade, fadein;
        animation-duration: 4s, 3s;
        animation-delay: 0s, 4s;
    }

    #soussection6 {
        animation-name: fade, fadein;
        animation-duration: 4s, 3s;
        animation-delay: 0s, 4s;
    }
}

/*animations apparition*/

@keyframes fadein {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

/*apparition internes aux sections*/

/*écran mobile, 1 par 1*/

@media screen and (max-width: 665px) {

    .xpt {
        animation-name: fade, fadein;
        animation-duration: 1s, 3s;
        animation-delay: 0s, 1s;
    }

    .ecrit {
        animation-name: fade, fadein;
        animation-duration: 2s, 3s;
        animation-delay: 0s, 2s;
    }

    .design {
        animation-name: fade, fadein;
        animation-duration: 3s, 3s;
        animation-delay: 0s, 3s;
    }

    .bac {
        animation-name: fade, fadein;
        animation-duration: 2s, 2s;
        animation-delay: 0s, 2s;
    }

    .bts {
        animation-name: fade, fadein;
        animation-duration: 3s, 2s;
        animation-delay: 0s, 3s;
    }

    .licence {
        animation-name: fade, fadein;
        animation-duration: 4s, 2s;
        animation-delay: 0s, 4s;
    }

    .stage {
        animation-name: fade, fadein;
        animation-duration: 5s, 2s;
        animation-delay: 0s, 5s;
    }

    .alternance {
        animation-name: fade, fadein;
        animation-duration: 4s, 2s;
        animation-delay: 0s, 4s;
    }

    .jv {
        animation-name: fade, fadein;
        animation-duration: 6s, 2s;
        animation-delay: 0s, 6s;
    }

    .tof {
        animation-name: fade, fadein;
        animation-duration: 7s, 2s;
        animation-delay: 0s, 7s;
    }

    .cine {
        animation-name: fade, fadein;
        animation-duration: 8s, 2s;
        animation-delay: 0s, 8s;
    }

    .sf {
        animation-name: fade, fadein;
        animation-duration: 6.5s, 2s;
        animation-delay: 0s, 6.5s;
    }

    .kpop {
        animation-name: fade, fadein;
        animation-duration: 7.5s, 2s;
        animation-delay: 0s, 7.5s;
    }

    .bot {
        animation-name: fade, fadein;
        animation-duration: 8.5s, 2s;
        animation-delay: 0s, 8.5s;
    }

    .fr {
        animation-name: fade, fadein;
        animation-duration: 7s, 3s;
        animation-delay: 0s, 7s;
    }

    .uk {
        animation-name: fade, fadein;
        animation-duration: 8s, 2s;
        animation-delay: 0s, 8s;
    }

    .es {
        animation-name: fade, fadein;
        animation-duration: 9s, 1s;
        animation-delay: 0s, 9s;
    }
}

/*écran plus grand 2 par 2*/

@media screen and (min-width: 665px) {

    .xpt {
        animation-name: fade, fadein;
        animation-duration: 1s, 2s;
        animation-delay: 0s, 1s;
    }

    .ecrit {
        animation-name: fade, fadein;
        animation-duration: 2s, 2s;
        animation-delay: 0s, 2s;
    }

    .design {
        animation-name: fade, fadein;
        animation-duration: 3s, 2s;
        animation-delay: 0s, 3s;
    }


    .bac {
        animation-name: fade, fadein;
        animation-duration: 1s, 2s;
        animation-delay: 0s, 1s;
    }

    .bts {
        animation-name: fade, fadein;
        animation-duration: 2s, 2s;
        animation-delay: 0s, 2s;
    }

    .licence {
        animation-name: fade, fadein;
        animation-duration: 3s, 2s;
        animation-delay: 0s, 3s;
    }

    .stage {
        animation-name: fade, fadein;
        animation-duration: 5s, 2s;
        animation-delay: 0s, 5s;
    }

    .alternance {
        animation-name: fade, fadein;
        animation-duration: 4s, 2s;
        animation-delay: 0s, 4s;
    }

    .jv {
        animation-name: fade, fadein;
        animation-duration: 7s, 1s;
        animation-delay: 0s, 7s;
    }

    .tof {
        animation-name: fade, fadein;
        animation-duration: 6s, 2s;
        animation-delay: 0s, 6s;
    }

    .cine {
        animation-name: fade, fadein;
        animation-duration: 5s, 3s;
        animation-delay: 0s, 5s;
    }

    .sf {
        animation-name: fade, fadein;
        animation-duration: 7s, 1s;
        animation-delay: 0s, 7s;
    }

    .kpop {
        animation-name: fade, fadein;
        animation-duration: 6s, 2s;
        animation-delay: 0s, 6s;
    }

    .bot {
        animation-name: fade, fadein;
        animation-duration: 5s, 3s;
        animation-delay: 0s, 5s;
    }

    .fr {
        animation-name: fade, fadein;
        animation-duration: 5s, 3s;
        animation-delay: 0s, 5s;
    }

    .uk {
        animation-name: fade, fadein;
        animation-duration: 6s, 2s;
        animation-delay: 0s, 6s;
    }

    .es {
        animation-name: fade, fadein;
        animation-duration: 7s, 1s;
        animation-delay: 0s, 7s;
    }
}

/*header*/

#profil {
    background-image: url(../asset/profilvidegamer.png);
    width: 334px;
    height: 209px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#vide {
    width: 145px;
}

#contact {
    margin-top: 31px;
    margin-left: 25px;
    width: 195px;
}

#Martin {
    font-size: 150%;
    margin-top: 2px;
    line-height: 25px;
}

#adresse {
    font-weight: 100;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 3px;
}

#net {
    font-weight: 500;
    font-size: 10px;
}

#secinfo {
    margin-right: 4px;
}

#infos {
    width: 320px;
    margin: auto;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
}


@media screen and (max-width: 665px) {
    #infos {
        margin-top: 20px;
        text-align: justify;
        margin-top: 0;
    }
}

@media screen and (min-width: 665px) {
    #infos {
        margin-left: 10px;
        margin-top: 17px;
    }
}


/*main*/

@media screen and (max-width: 665px) {
    .titre {
        padding-left: 0;
        margin-top: 15px;
    }
}

@media screen and (min-width: 665px) {
    .titre {
        padding-left: 15px;
    }
}

.titre {
    font-family: 'Montserrat', sans-serif;
    color: #2A4899;
    font-weight: bolder;
    justify-content: start;
}

/*glissement des titres*/

@media screen and (min-width: 665px) {
    .titre {
        animation-duration: 5s;
        animation-name: slidein;
    }
}

@media screen and (max-width: 665px) {
    .titre {
        animation-duration: 8s;
        animation-name: slidein;
    }
}

@keyframes slidein {
    from {
        margin-left: 70%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/*images*/

/*expertises*/
/*crea*/

.xpt {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    margin-left: 40px;
    margin-top: 30px;
}

.fondtransparent {
    width: 100px;
    height: 100px;
    background-color: #B4E1FA;
    opacity: 50%;
    position: absolute;
    z-index: 0;
    margin-left: 40px;
    margin-top: 30px;
}

.expertises {
    width: 100px;
    margin-top: -10px;
    padding-right: 3px;
}

.rondblanc {
    width: 8px;
    height: 8px;
    background-color: white;
    margin-left: 43px;
    margin-top: -18px;
}

.ligne {
    width: 2px;
    height: 50px;
    background-color: white;
    margin-left: 46px;
    margin-top: -8px;
}

/*ecriture*/

.ecrit {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    margin-left: 110px;
    margin-top: 30px;
}

.fondtransparentecrit {
    width: 100px;
    height: 100px;
    background-color: #B4E1FA;
    opacity: 50%;
    position: absolute;
    z-index: 0;
    margin-left: 110px;
    margin-top: 30px;
}

/*Design*/

.design {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    margin-left: 180px;
    margin-top: 30px;
}

.fondtransparentdesign {
    width: 100px;
    height: 100px;
    background-color: #B4E1FA;
    opacity: 50%;
    position: absolute;
    z-index: 0;
    margin-left: 180px;
    margin-top: 30px;
}

/*taille fleche formation*/

#formation {
    height: 195px;
}

/*COMPETENCES*/
/*animation changement couleur jauge*/

.rondb1 {
    width: 16px;
    height: 16px;
    background-color: #2A4899;
    animation-name: blue;
    animation-duration: 4s;
}

.rondb2 {
    width: 16px;
    height: 16px;
    background-color: #2A4899;
    animation-name: blue;
    animation-duration: 4.5s;
}

.rondb3 {
    width: 16px;
    height: 16px;
    background-color: #2A4899;
    animation-name: blue;
    animation-duration: 5s;
}

.rondb4 {
    width: 16px;
    height: 16px;
    background-color: #2A4899;
    animation-name: blue;
    animation-duration: 5.5s;
}

.rondb5 {
    width: 16px;
    height: 16px;
    background-color: #2A4899;
    animation-name: blue;
    animation-duration: 6s;
}

.rondb6 {
    width: 16px;
    height: 16px;
    background-color: #2A4899;
    animation-name: blue;
    animation-duration: 6.5s;
}

.rondb7 {
    width: 16px;
    height: 16px;
    background-color: #2A4899;
    animation-name: blue;
    animation-duration: 7s;
}

.rondg {
    width: 16px;
    height: 16px;
    background-color: #61615C;
}

/*animation*/

@keyframes blue {
    from {
        background-color: #2A4899;
    }

    to {
        background-color: #61615C;
    }
}

/*icônes hobbies*/

.hob {
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

/*visuel langues*/

.lang {
    width: 90px;
}


/*font*/

.formation {
    line-height: 16px;
    font-size: 12px;
}

.blue {
    font-size: small;
    color: #B4E1FA;
    font-weight: bold;
}

.white {
    font-size: small
}

.bold {
    font-size: small;
    font-weight: bold;

}

.big {
    font-size: 90px;
    font-weight: 300;
    margin-top: -25px;
    margin-bottom: -25px;
    color: #B4E1FA;
}

.xp {
    line-height: 18px;
    font-size: 12px;
}

/*footer*/

footer {
    height: 90px;
}